version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: inventario
      POSTGRES_DB: inventario
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  server:
    build: ./app/server
    environment:
      DATABASE_URL: postgres://postgres:inventario@db:5432/inventario
      JWT_SECRET: inventario123
    ports:
      - "3001:3001"
    depends_on:
      - db

  client:
    build: ./app/client
    ports:
      - "5173:5173"
    depends_on:
      - server

volumes:
  dbdata:
